{% extends "suma/base.html" %} {% block head %} {{ super() }}
<style>
  #login-card {
    width: 20rem;
    margin: 10rem auto 0;
  }
</style>
{% endblock %} {% block body %}
<div class="container">
  <form method="post">
    <div id="login-card">
      {% if error_message %}
      <article id="error_message" class="message is-small is-danger">
        <div class="message-body">{{error_message}}</div>
      </article>
      {% endif %}
      {# BEGIN login-card #}
      <div class="card">
        <div class="card-content">
          {# BEGIN login-form #}
          <div class="field">
            <p class="control has-icons-left">
              <input
                class="input"
                type="text"
                placeholder="Email"
                name="username"
                autofocus
              />
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input
                class="input"
                type="password"
                placeholder="Password"
                name="password"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          {# END login-form #}
        </div>
        <footer class="card-footer">
          <input
            type="submit"
            class="card-footer-item button is-text"
            name="entry"
            value="login"
          />
          <input
            type="submit"
            class="card-footer-item button is-text"
            name="entry"
            value="signup"
          />
        </footer>
      </div>
      {# END login-card #}
    </div>
  </form>
</div>
{% endblock %}
